@use '../../styles/variables';

.single-product-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: variables.$width-mobile) {
        margin-bottom: 5rem;
    }
}

.content-single-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    & .center-content-single {
        display: flex;
        width: 100%;
    }

    @media screen and (max-width: variables.$width-mobile) {
        width: 100%;
        margin-top: 0;
    }
}

.url-product {
    padding-left: 1rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & span {
        font-size: 0.8rem;
        padding-right: 1rem;
        color: variables.$primary-gray-dark;
    }

    & h6 {
        margin: 0 1rem 0 1rem;
        color: variables.$primary-blue;
    }
}

.gallery {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & img {
        margin-bottom: 1rem;
        max-width: 120px;
        max-height: 120px;
    }

    @media screen and (max-width: variables.$width-table) {
        display: flex;
        flex-direction: row;
    }

    @media screen and (max-width: variables.$width-mobile) {
        margin-bottom: 2rem;

        & img {
            max-width: 80px;
            max-height: 80px;
        }
    }
}

.selected-photo {
    border: 2px solid variables.$primary-gray-dark;
    border-radius: 10px;
}

.description {
    display: flex;

    .description-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & .main-photo {
        align-items: center;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-right: 1rem;

        & img {
            max-height: 600px;
            width: 80%;
            height: auto;
        }
    }

    p {
        font-size: 12px;
        width: 250px;
    }

    @media screen and (max-width: variables.$width-table) {
        width: 500px;

        & .main-photo {
            & img {
                min-width: 200px;
                width: 100%;
                height: auto;
            }
        }
    }

    @media screen and (max-width: variables.$width-mobile) {
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
}

.center-content-single {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: variables.$width-table) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (max-width: variables.$width-mobile) {
        display: flex;
        flex-direction: column-reverse;
        height: 50rem;
        margin-top: 10rem;
    }
}

.price-tag-week {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: variables.$width-table) {
        width: 100%;
    }

    @media screen and (max-width: variables.$width-mobile) {
        width: 100%;
    }
}

.price-tag {
    span {
        color: variables.$primary-gray-dark;
    }

    h3 {
        color: variables.$primary-blue;
    }
}

.week-tag {
    padding-top: 1.2rem;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: variables.$primary-pink;
    border-radius: 50px;
    line-height: 0.1rem;

    span {
        color: variables.$primary-gray-dark;
    }

    h3 {
        color: variables.$primary-blue;
    }
}

.column-direction {
    display: flex;
    flex-direction: column;
}
