@use '../../styles/variables.scss';

.card{
    position: relative !important;
    border-radius: 10px !important;
    min-width: 280px !important;
    max-width: 340px !important;
    height: 460px  !important;

    &:hover{
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.20);
        
        .card-percentage-reduce{
            visibility: hidden;
            opacity: 0;
        }
    }
}

.favorite-button{
    background: transparent !important;
    border: none !important;
    position: absolute !important;
    top: 0px;
    right: 0px;
    
    
    & svg{
        width: 2rem;
        height: 2rem;
        
    }
    &:focus{
        outline: none;
    }
}

.favorite-button-color{
    color: variables.$primary-pink !important;

}

.card-item-image{
  box-shadow: -2px 2px 10px 2px rgba(0, 0, 0, 0.15);
}
.card-content{
    padding: 10px 16px 0px 16px !important;
}
.card-grid-content{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}

.card-flex-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & > *{
        margin: 0px;
        padding: 0px;
    }

    & h3{
        font-size: large;
        color: variables.$primary-blue;
    }
    & span{
        font-size: 1rem;
        text-decoration: line-through ;
        color: variables.$primary-gray-dark;
    }
    & svg{
        font-size: 0.9rem;
        text-decoration: line-through;
        color: variables.$primary-yellow;
    }
    & p{
        font-size: 0.8rem;
        margin: 0px;
        color: variables.$primary-gray-dark;
    }
    &:nth-child(2){
        align-items: flex-end;
    }
}


.buy-button{
    color: variables.$primary-blue !important;
    &:hover{
        background: variables.$primary-blue !important;
        color: variables.$primary-yellow !important;
    }
}  
.card-percentage-reduce{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color-red-one);
    top: 14.5rem;
    left: 0.5rem;
    display: grid;
    place-items: center;
    transition: all 0.2s ease-in-out;
    & p{
        margin: 0px;
        font-size: xx-large;
        font-weight: bold;
        color: var(--color-white-one);
    }
}