@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*-Layout */

$width-mobile: 480px;
$width-table: 860px;
$width-desktop: 1060px;

/*-Colors */
$white: #FFFFFF;
$black: #000000;


/*--Primary */
$primary-gray-dark: #2B3445;
$primary-blue: #004AC1;
$primary-yellow: #FFD300;
$primary-pink: #e6406d;


/*--Secondary */
$secondary-blue: #013E9B;
$secondary-yellow: #a38908;

$neutral-dark: hsl(234, 29%, 20%);
$neutral-Charcoal: hsl(0, 0%, 32%);
$neutral-Grey: hsl(231, 7%, 60%);
$neutral-white: hsl(0, 0%, 100%);

/*-Typography*/

/*--Font-size*/
$size-paragraph: 16px;

/*--Font*/

$font-family: 'Roboto', sans-serif;
