@use '../../styles/variables';

.viewproducts-container-view{
    
    width: 95%;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 1px;
    padding-top: 2rem;
    margin-bottom: 5rem;

    & .modal-container-controlBar{
      display: none;
    }

    & .cardproducts-container-view{
      display: grid;
        
      width: 100%;
      margin: auto;
      height: 50rem;
      overflow: scroll;
       
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        
       &::-webkit-scrollbar {
            width: 7px;
        }

        @media screen and (max-width: variables.$width-mobile) {

          display: flex;
          flex-direction: column;
          align-items: center;
          height: auto;
        }
    }
    
    & .Productcards-serch-container{
      
        display: grid;
        height: 100%;
        width: 100%;
        gap: 1rem;
    }
    @media screen and (max-width: variables.$width-table) {
        gap: 0.3rem;
        grid-template-columns: 35% 65%;
      }

    @media screen and (max-width: variables.$width-mobile) {

        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        & .container-controlBar{
          display: none;
        }
        & .modal-container-controlBar{
           display: block;
           height: 2rem;
           display: grid;
           place-items: center;
        }
    }
}

//done